annotated-types==0.8.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.4.9
colorama==0.4.6
comtypes==1.4.16
cryptography==50.0.0
google-ai-generativelanguage==0.6.15
google-api-core==2.33.0
google-api-python-client==2.198.0
google-auth==2.56.3
google-auth-httplib2==0.4.1
google-generativeai==0.8.6
googleapis-common-protos==1.75.0
grpcio==1.83.0
grpcio-status==1.71.2
httplib2==0.32.0
idna==3.18
proto-plus==1.28.2
protobuf==5.29.6
pyasn1==0.6.4
pyasn1_modules==0.4.2
PyAudio==0.2.14
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
pyparsing==3.3.2
pypiwin32==223
PySide6==6.11.1
PySide6_Addons==6.11.1
PySide6_Essentials==6.11.1
python-dotenv==1.2.2
pyttsx3==2.99
pywin32==312
requests==2.34.2
shiboken6==6.11.1
SpeechRecognition==3.17.0
tqdm==4.70.0
typing-inspection==0.4.2
typing_extensions==4.16.0
uritemplate==4.2.0
urllib3==2.7.0
